.navigation {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;

  li {
    padding-top: 12px;
  }

  a {
    margin: 10px 30px;
    position: relative;
    color: var(--text);
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;

    &:before {
      position: absolute;
      bottom: -2px;
      content: "";
      width: 100%;
      height: 3px;
      background: var(--highlight);
      transform: translateX(-100%);
      opacity: 0;
    }

    &:hover {
      &:before {
        opacity: 1;
        transition: 0.5s transform ease, 0.8s opacity ease;
        transform: translateX(0);
      }
    }
  }

  .active {
    color: var(--highlight);

    &:hover {
      &:before {
        opacity: 0;
      }
    }
  }
}

body {
  font-family: "Arial", sans-serif;
}

.navigation li {
  margin: 0;
}

.navigation a {
  text-decoration: none;
  color: #f0f0f0;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.navigation a.active {
  color: #00ffff;
  border-color: #00ffff;
  font-weight: bold;
  background-color: rgba(0, 128, 128, 0.2);
}

.navigation a:hover {
  color: #00ffff;
  background-color: rgba(0, 128, 128, 0.1);
}

.hamburger {
  display: none;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer;
  padding: 14px;
  padding-left: 320px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #f0f0f0;
  margin: 4px 0;
  transition: 0.4s;
}

.hamburger .bar.animate:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger .bar.animate:nth-child(2) {
  opacity: 0;
}

.hamburger .bar.animate:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 768px) {
  .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }

  .topnav .menu-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }

  .topnav .menu-links.active {
    display: flex;
  }

  .topnav .menu-links ul {
    flex-direction: column;
  }

  .topnav .menu-links ul li {
    margin: 0;
  }

  .topnav .menu-links ul li a {
    padding: 10px 20px;
  }

  .hamburger {
    display: flex;
  }

  
}
